*
{
	font-family: "Verdana", sans-serif;
}

.titulo
{
    text-align: center;
    padding-top: 5px;
    font-family: "Verdana", sans-serif;
    position: relative;
    margin: 10px auto;
    max-width: 380px;
}

.form
{
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 20px auto;
	max-width: 320px;
	padding: 30px;
	text-align: center;
}

.form button, input
{
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 20px;
	width: 100%;
}

.form button
{
	background: #ff4d4d;
	color: #FFFFFF;
	cursor: pointer;
}

.form button:active
{
	background: red;
}

.form input
{
	background: #e2e2e2e2;
	box-sizing: border-box;
	margin-bottom: 15px;
}

