.cabecalho{
    display: flex;
    background-color: rgb(206, 73, 73);
    justify-content: center;
    align-items: center;
   
}

.link{
    display: flex;
    background-color: #ff4d4d;
    justify-content: space-between;
    padding: 10px 35% 10px 35%; 
}

.formtudo{
	display: flex;
	margin: 100px;
	justify-content: space-between;
}

.form
{
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 20px auto;
	max-width: 320px;
	max-height: 50%;
	padding: 30px;
	text-align: center;
	flex-wrap: wrap;
}



.form button, input
{
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 20px;
	width: 100%;
}

.form button
{
	background: #ff4d4d;
	color: #FFFFFF;
	cursor: pointer;
}

.form input
{
	background: #e2e2e2e2;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.bots{
	display: flex;
	justify-content: center;
}

 .bots button
{
	border: 1px solid black;
	font-size: 14px;
	margin: 20px;
	outline: 0;
	padding: 40px;
	background: #ff4d4d;
	color: #FFFFFF;
	cursor: pointer;
}


button:active
{
	background: red;
}

